<div ng-controller="albumController">
    <div class="title-banner container">
        <h2 class="page-title">New Albums</h2>
        <div class="input-group search-bar" [ngClass]="{'input-group-focus':focus1===true}">
            <input id="searched-album" type="text" class="form-control" placeholder="Search album ..." (focus)="focus1=true" (blur)="focus1=false">
            <div class="input-group-append">
              <span class="input-group-text">
                  <i class="now-ui-icons users_single-02"></i>
              </span>
            </div>
        </div>
        <button class="btn btn-search" ng-click="searchAlbum();"><i class="fas fa-search"></i></button>
    </div>
    
    <div class="songs-wrapper top-albums">
        <a ng-repeat="album in albums" class="card album-card" id={{album.id}} type="button"data-toggle="modal" data-target="#albumDetails" ng-click="showDetails(album.index);">
            <div class="card-image">
                <img src={{album.image}} alt={{album.name}}/>
                <div class="tags-icons two-col nb-tracks">
                    <div>
                        <i class="fas fa-music"></i>
                        {{album.tracks}} Tracks
                    </div>
                    
                    <div>
                        <i class="far fa-calendar-alt"></i>
                        {{album.date}}
                    </div>
                    
                </div>
            </div>
            <div class="card-data">
                <p>{{album.name}}</p>
                <p>by {{album.artist}}</p>
                <p class="tags-icons">
                    <i class="fas fa-tags"></i>
                    {{album.label}}
                </p>
            </div>
        </a>
    </div>

    <div class="songs-wrapper searched-albums">
        <a ng-repeat="album in searchedAlbums" class="card album-card" id={{album.id}} type="button"data-toggle="modal" data-target="#albumDetails" ng-click="showDetailsSearched(album.index);">
            <div class="card-image">
                <img src={{album.image}} alt={{album.name}}/>
                <div class="tags-icons two-col nb-tracks">
                    <div>
                        <i class="fas fa-music"></i>
                        {{album.tracks}} Tracks
                    </div>
                    
                    <div>
                        <i class="far fa-calendar-alt"></i>
                        {{album.date}}
                    </div>
                    
                </div>
            </div>
            <div class="card-data">
                <p>{{album.name}}</p>
                <p>by {{album.artist}}</p>
                <p class="tags-icons">
                    <i class="fas fa-tags"></i>
                    {{album.label}}
                </p>
            </div>
        </a>
    </div>

</div>


