.section-tabs {
    background: #eee;
}

.nav-tabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
        height: 50px;
        display: flex;
        align-items: center;
    
        a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 20px;
            color: black;

            &:hover{
                text-decoration: none;
            }

            i {
                margin-right: 10px;
            }
        }
    }
    

    .active {
        border: 1px solid #888;
        border-radius: 30px;
    }
}