#loginModal {
    .modal-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-body {
        display: block;

        input {
            width: 100%;
            margin: 10px 0;
            background-color:#e7e7e7;
            height: 40px;
            border: none;
            border-radius: 25px;
            padding: 0 20px;
        }
    }

    .modal-footer {
        display: block;

        button {
            margin: 10px;
        }
    }
}

#username {
    color:white;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 25px;
}

.authError {
    background-color: #f1dbe4;
    padding: 10px;
    border-radius: 5px;
}